body {
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 1.25rem;
}

.top {
  background-color: #e8e8e8;
  position: relative;
  padding-top: 100px;
}

h1 {
  margin-top: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 6rem;
  color: #40108b;
}
h2 {
    margin-top: 0;
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
  }

  h3 {
    font-family: 'Satisfy', cursive;
  }


.middle {
  background-color: #9ba4b4;
}

.bottom {
  background-color: #e8e8e8;
}

.underline {
  text-decoration: underline;
}

.topcloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottomcloud {
  position: absolute;
  top: 400px;
  left: 250px;
}
.computer{
  width: 150px;
  height: 150px;
}
.data{
  width: 150px;
  height: 150px;
}

.purple{
  color: #40108b;
  font-weight: normal;
  line-height: 10px;
}
.name{
  margin-bottom: 0px;
}
